*{
  font-family: 'Ubuntu Mono', monospace !important;
}

body{
background: #eaeaea !important;
}

.navbar {
    background-color: #F4D03F;
    height: auto;
    margin: 10px !important;
    border-radius: 5px;
  }
  
.container p{
  font-size: 20px;
  text-align: center;
}

.navbar-container {
    text-align: center;
    width: 100%;
  }
  
  
.container{
    border-radius: 5px;
    background-color:#AED6F1 ;
    padding: 20px !important;
}

.card{
  transition: 0.3s;
}


.card:hover{
  transform: scale(1.05);

}

footer {
  margin-top: 10px;
  background-color: #F4D03F;
  padding: 2rem;
}

footer p {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0;
}




